<% if !@user.present? %>
  <h1 style='text-align:center'>user not found</h1>
<% else %>
	<div id='content'>
	<section class="main-content">
	<h2>User</h2>
	<table>
		<thead>
			<tr>
				<td>username</td>
				<td>ripple address</td>
				<td>created at</td>
				<td>initial run time</td>
				<td>initial points</td>
				<td>points paid</td>
				<td>points claimed</td>
				<td>xrp earned</td>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td><%= @user.username %></td>
				<td><%= @user.ripple_address %></td>
				<td><%= @user.created_at %></td>
				<td><%= @user.initial_run_time %></td>
				<td><%= @user.initial_points %></td>
				<td><%= @user.points_paid %></td>
				<td><%= @user.points_claimed %></td>
				<td><%= @user.xrp_earned %></td>
			<tr/>
		</tbody>
	</table>

	<h2>Claims</h2>
	<table>
		<thead>
			<tr>
				<td>id</td>
				<td>member_id</td>
				<td>rate</td>
				<td>points</td>
				<td>xrp disbursed</td>
				<td>transaction hash</td>
				<td>transaction_status</td>
				<td>created_at</td>
				<td>updated_at</td>
			</tr>
		</thead>
		<tbody>
			<% @claims.each do |claim| %>
				<tr>
					<td><%= claim.username %></td>
					<td><%= claim.ripple_address %></td>
					<td><%= claim.created_at %></td>
					<td><%= claim.initial_run_time %></td>
					<td><%= claim.initial_points %></td>
					<td><%= claim.points_paid %></td>
					<td><%= claim.points_claimed %></td>
					<td><%= claim.xrp_earned %></td>
				<tr/>
			<% end %>
		</tbody>
	</table>
</section>
</div>

<% end %>

	<% content_for :styles do %>
		tr { 
			border-bottom: 1px solid #ccc
		}
		
		td {
			padding: 5px 
		}
		.main-content, .main-content table {
			margin: 0 auto;
			text-align:center;
		}
	<% end %>
