<div id="content">
  <h2 style='text-align:center'>User stats for <%= @member.username %> -- member #<%= @member.member_id %></h2>
  
  <div class='row' style='text-align: center;margin: 0 auto'>
    <ul>
      <li>Total XRP Earned: <%= @claims.sum(:xrp_disbursed) %></li>
      <li>Total Points Earned: <%= @claims.sum(:points) %></li>
      <li>Ripple Address : <%= @member.ripple_address %></li>
      <li>Registered on <%= @member.created_at.strftime("%b %d, %Y") %></li>
    </ul>
  </div>
  <hr/>
  <h3 style='text-align:center'>XRP Payouts to <%= @member.username %></h3>
  <table style='width:80%; margin: 0 auto; margin-top:20px' class='table table-striped'>
    <thead>
      <tr>
        <td>date</td>
        <td>xrp amount</td>
        <td>points</td>
        <td>rate xrp/point</td>
        <td>status</td>
      </tr>
    <thead>
    <tbody>
    <% @claims.each do |claim| %>
      <tr>
        <td><%= claim.created_at.strftime("%b %d, %Y") %></td>
        <td><%= claim.xrp_disbursed.round(6) %></td>
        <td><%= claim.points %></td>
        <td><%= claim.rate %></td>
        <td><a target='_blank' href='<%= "http://ripple.com/graph/##{claim.transaction_hash}" %>'><%= claim.transaction_status %></a></td>
      </tr>
    <% end %>
    </tbody>
  <table>
</div>

