<!DOCTYPE html>
<!-- saved from url=(0054)http://localhost:8888/ripplelabs.com/wcg_giveaway.org/ -->
<html lang="en-US" class="no-animation animation-effects-enabled js no-flexbox flexbox-legacy canvas canvastext webgl no-touch geolocation postmessage websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients cssreflections csstransforms csstransforms3d csstransitions fontface generatedcontent video audio localstorage sessionstorage webworkers applicationcache svg inlinesvg smil svgclippaths">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <!-- Meta Tags -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- Mobile Specifics -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Mobile Internet Explorer ClearType Technology -->
  <!--[if IEMobile]>  <meta http-equiv="cleartype" content="on">  <![endif]-->

  <!--Shortcut icon-->
  <link rel="icon" type="image/x-icon" href="/pbulic/favicon.ico" />
  <link rel="icon" type="image/png" href="/public/favicon.png" />

  <!-- Title -->
  <title>Computing for Good</title>
  <!-- RSS & Pingbacks -->
  <meta property="og:site_name" content="Computing for Good">
  <meta property="og:title" content="Home">
  <meta property="og:type" content="article">

  <link rel="alternate" type="application/rss+xml" title="Computing for Good » Home Comments Feed" href="http://localhost:8888/ripplelabs.com/wcg_giveaway.org/home/feed/">
  <link rel="stylesheet" id="admin-bar-css" href="/home_files/admin-bar.min.css" type="text/css" media="all">
  <link rel="stylesheet" id="contact-form-7-css" href="/home_files/styles.css" type="text/css" media="all">
  <link rel="stylesheet" id="rs-settings-css" href="/home_files/settings.css" type="text/css" media="all">
  <link rel="stylesheet" id="rs-captions-css" href="/home_files/captions.css" type="text/css" media="all">
  <link rel="stylesheet" id="chariot-font-css" href="/home_files/css" type="text/css" media="all">
  <link rel="stylesheet" id="bootstrap-css" href="/home_files/bootstrap.min.css" type="text/css" media="all">
  <link rel="stylesheet" id="main-styles-css" href="/home_files/style.css" type="text/css" media="all">
  <link rel="stylesheet" id="dynamic_colors-css" href="/home_files/color.css.php" type="text/css" media="all">
  <link rel="stylesheet" id="custom_css-css" href="/home_files/custom.css.php" type="text/css" media="all">

  <div class="fit-vids-style" id="fit-vids-style" style="display: none;">
    ­<style>
      .fluid-width-video-wrapper {
        width: 100%;
        position: relative;
        padding:0;
      }
      .fluid-width-video-wrapper iframe,
      .fluid-width-video-wrapper object,
      .fluid-width-video-wrapper embed {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    </style>
  </div>

  <script type="text/javascript" src="./home_files/jquery.js"></script><style type="text/css"></style>
  <script type="text/javascript" src="/home_files/jquery-migrate.min.js"></script>
  <script type="text/javascript" src="/home_files/jquery.themepunch.revolution.min.js"></script>
  <script type="text/javascript" src="/home_files/modernizr.js"></script>
  <script type="text/javascript" src="/home_files/comment-reply.min.js"></script>
  <link rel="canonical" href="/home_files/home.html">
  <style type="text/css">
    .recentcomments a{
      display:inline !important;
      padding:0 !important;
      margin:0 !important;
    }
  </style>
  <style type="text/css" media="print">
    #wpadminbar {
      display:none;
    }
  </style>
  <style type="text/css" media="screen">
    .errors {
      color: red;
      display: none
    }
  </style>
</head>

<body class="home page page-id-406 page-template-default logged-in admin-bar chrome page-home az wpb-js-composer js-comp-ver-3.6.2 vc_responsive customize-support">
  <!-- Start Wrap All -->
  <div class="wrap_all">

    <%= render 'partials/header' %>

    <!-- Main -->
    <div id="main" class="normal-header-enabled">
    	<%= yield %>
    </div>
    <!-- End Main -->

    <footer>
      <!-- Footer Credits -->
      <section id="footer-credits">
      	<div class="container">
      		<div class="row">

            <div class="col-md-6">
              <p class="credits"></p>

              <p class="copyright">©2013 <a href="http://www.ripplelabs.com">Ripple Labs Inc.</a></p>
            </div>

            <div class="col-md-6">
              <!-- Social Icons -->
              <select style='float:right; font-size:300%' id='languageSelect'>
                <option value='english'>English</option>
                <option value='chinese'>Chinese</option>
              </select>
              <nav id="social-footer">
                <ul>
                  <li><a href="mailto:support@ripple.com" target="_blank"><i class="font-icon-social-email"></i></a></li>
                </ul>
              </nav>
              <!-- End Social Icons -->
            </div>

      		</div>
      	</div>
      </section>
      <!-- End Footer Credits -->
    </footer>

  </div>
  <!-- End Wrap All -->

  <!-- Back To Top -->
  <a id="back-to-top" href="#">
  	<i class="font-icon-arrow-up-simple-thin-round"></i>
  </a>
  <!-- End Back to Top -->

  <script type="text/javascript" src="/home_files/admin-bar.min.js"></script>
  <script type="text/javascript" src="/home_files/jquery.form.min.js"></script>
  <script type="text/javascript">
  /* <![CDATA[ */
  /* ]]> */
  </script>
  <script type="text/javascript" src="/home_files/scripts.js"></script>
  <script type="text/javascript" src="/home_files/bootstrap.min.js"></script>
  <script type="text/javascript" src="/home_files/isotope.js"></script>
  <script type="text/javascript" src="/home_files/jquery.superfish.min.js"></script>
  <script type="text/javascript" src="/home_files/jquery.supersubs.min.js"></script>
  <script type="text/javascript" src="/home_files/plugins.js"></script>
  <script type="text/javascript">
  /* <![CDATA[ */
  /* ]]> */
  </script>
  <script type="text/javascript" src="/home_files/main.js"></script>
	<script type="text/javascript">
		(function() {
			var request, b = document.body, c = 'className', cs = 'customize-support', rcs = new RegExp('(^|\\s+)(no-)?'+cs+'(\\s+|$)');

			request = true;

			b[c] = b[c].replace( rcs, ' ' );
			b[c] += ( window.postMessage && request ? ' ' : ' no-' ) + cs;
		}());
	</script>
  <script src='/ripple-0.7.30-min.js'></script>
  <script src='/underscore-min.js'></script>
  <%= javascript_include_tag "application" %>
  <%= yield :templates %>
  <%= render 'js_templates/home' %>
  <%= render 'js_templates/register' %>
  <%= render 'js_templates/login' %>
  <%= yield :javascripts %>
</body>
</html>